<div class="contents-title text-center">
<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <h5><%= form.label :質問文 %></h5>
    <h5><%= form.text_field :title, placeholder: "今日の気分は？" %></h5>
  </div>

  <div class="field" style="padding-top: 1rem">
    <h5><%= form.label :質問内容%></h5>
    <h5><%= form.file_field :image , placeholder: "質問内容" %></h5>
  </div>

  <div class="field" style="padding-top: 1rem">
    <h5><%= form.label :解答予定日 %></h5>
    <h5><%= form.date_field :request_answer_on %></h5>
  </div>

  <div class="actions" style="padding-top: 1rem">
    <h5><%= form.submit %></h5>
  </div>
<% end %>
</div>
