<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= form.label :title %></h2>
    <h2><%= form.text_field :title %></h2>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :回答予定日 %>
    <%= form.date_field :request_answer_on %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
