<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @quiz.image %>
</p>

<p>
  <strong>Group:</strong>
  <%= @quiz.group.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @quiz.user.name %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
