<div div class="contents-title text-center">
	<h3>ユーザー情報</h3>
	<hr />

	<p>
			<h5>ニックネーム <%= @user.name %></h5>
	</p>
	<p>
			<h5>性別 <%= @user.gender %></h5>
	</p>
	<p>
			<h5>西暦 <%= @user.age %>年生まれ</h5>
	</p>
	<p>
			<h5>Eメール <%= @user.email %></h5>
	</p>

	<% if current_user.groups.first.present? %>
	<p>
			<h5>グループ名</h5>
			<% current_user.groups.each do |group| %>
					<h4><%= group.name %></h4>
			<% end %>
	</p>

	<% else %>
	<input type="button" class="btn btn-warning" onclick="location.href='/groups/new.html'" value="グループを作成してください">
	<% end %>
</div>	

