<h2>Users</h2>
<hr />

<p>
    <strong>ユーザー名</strong>
    <%= @user.name %>
</p>
<p>
    <strong>性別</strong>
    <%= @user.gender %>
</p>
<p>
    <strong>年齢</strong>
    <%= @user.age %>
</p>
<p>
    <strong>e-mail</strong>
    <%= @user.email %>
</p>

<% if current_user.groups.first.present? %>
<p>
    <strong>グループ名</strong>
    <%= current_user.groups.first.name %>
</p>

<% else %>
<%= link_to "グループに所属する", new_group_path%><br>
<% end %>