<%= form_with(model: answer) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3><label for="group_id">グループ名</label></h3>
  <h1><%= form.select :group_id, current_user.groups.pluck(:name, :id)%></h1>
  <%= form.hidden_field :group_id, :value => current_user.groups.ids %>

  <h2>本日の質問</h2>
  <h1><%= @quiz.title %></h1>
  <%= image_tag @quiz.image.url %>

  <%= form.hidden_field :quiz_id, :value => @quiz.id %>
  <tr>
    <td><%= form.label :select_answer, 'A' %></td>
    <td><%= form.radio_button :select_answer, 'A' %></td>

    <td><%= form.label :select_answer, 'B' %></td>
    <td><%= form.radio_button :select_answer, 'B' %></td>

    <td><%= form.label :select_answer, 'C' %></td>
    <td><%= form.radio_button :select_answer, 'C' %></td>

    <td><%= form.label :select_answer, 'D' %></td>
    <td><%= form.radio_button :select_answer, 'D' %></td>
  </tr>

  <div class="actions">
    <%= form.submit "解答する"%>
  </div>
<% end %>
