<%= form_with(model: answer) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <h3><label for="group_id">グループ名</label></h3>
  <h1><%= form.select :group_id, current_user.groups.pluck(:name, :id)%></h1>
  <%= form.hidden_field :group_id, :value => current_user.groups.ids %>

  <h1><%= @today_quiz.title %></h1>
  <%= image_tag @today_quiz.image.url %>

  <%= form.hidden_field :quiz_id, :value => @today_quiz.id %>
  <tr>
    <th><%= form.label :select_answer, 'A' %></th>
    <th><%= form.radio_button :select_answer, 'A' %></th>

    <th><%= form.label :select_answer, 'B' %></th>
    <th><%= form.radio_button :select_answer, 'B' %></th>

    <th><%= form.label :select_answer, 'C' %></th>
    <th><%= form.radio_button :select_answer, 'C' %></th>

    <th><%= form.label :select_answer, 'D' %></th>
    <th><%= form.radio_button :select_answer, 'D' %></th>
  
  
  <div class="actions">
    <td><%= form.submit "解答する"%></td>
  </div>
  </tr>
  <% end %>
</table>  
