<h2><%= t "devise.invitations.edit.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :invitation_token, readonly: true %>
  <%# <%= f.hidden_field :group_id, :value => Group.find(group.id) %> 

  <% if f.object.class.require_password_on_accepting %>

    <div class="field">
      <%= f.label :name, "ニックネーム" %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :gender, "性別" %><br />
      <%= f.select :gender, [["男性","男性"],["女性","女性"],["フリー","フリー"]], include_blank: "選択して下さい" %>
    </div>

    <div class="field">
      <%= f.label :age, "年齢" %><br />
      <%= f.text_field :age %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit t("devise.invitations.edit.submit_button") %>
  </div>
<% end %>
