<!DOCTYPE html>
<html>
  <head>
    <title>POCCHI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "ユーザー情報", user_path(current_user) %>
      <%= link_to "チーム作成", new_group_path %> 
      <%= link_to "チーム招待", new_user_invitation_path(current_user) %> 
      <%= link_to "本日の質問に解答する", new_answer_path %>
      <%= link_to "みんなの解答一覧", answers_path %>
      <%= link_to "お気に入り一覧", favorites_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% if current_user.admin? %>
        <%= link_to "質問一覧", quizzes_path(current_user)%>
        <%= link_to "管理者画面", rails_admin_path %>
      <% end %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
      <%= link_to 'サインアップ', new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
